@font-face {
  font-family: Rye-Regular;
  src : url(./Font/Rye-Regular.ttf) format('truetype'); 
  font-weight: bold; 
  font-style: normal;
}
*{
  margin: 0;
  border: 0;
  padding: 0;
  background-size:auto auto;
}
body {
  background-color: #aabbcc;
  color:black;

}

a:hover { text-decoration: underline; }
#Web{
padding: 0px;
}
.container{
  
}
#githubLink{
  background: url(./WebImag/strip.png) repeat-x;
  height: 66px;
  padding: 16px;
  text-align: center;

}
#githubLink a{

  text-decoration: none;
  font-size: 20px;
  color: black;
  text-shadow: 0px 2px 0px white ;

}
#githubLink a:hover{
  text-decoration: underline;
}

#navbar{
  padding: 0px;
  display: inline;
  width: 100%;

}
#navbar li{
  list-style-type: none;
  float: left;
  width: 20%;
  text-align: center;
  background-color: rgb(0, 0, 78);
  height: 60px; 
}
#navbar li button{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color:darkblue;
  color: white;
  width: 80%;
  text-align: center;
  display: inline-block;
  height: 50px;
  border-radius: 20px;
  margin-top: 5px;
  
}
#navbar li button:hover{
  background-color: #0d366b;
  padding-bottom: 5px;
}
#navbar li button:active{
  text-decoration:underline;
  color: wheat;
}
#textContainer{
  clear: both;
  background-color:rgba(0, 0, 78, 0.548);
  height: auto;
  font-size: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color:rgba(173, 252, 255, 0.719);
  text-align: center;
  padding: 15px;
}

